@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .theme-dracula {
    /* INSIGHT: Use rgb for transparent screen. */
    /* --sidebar-bg: 40, 42, 54; */
    --sidebar-bg: #282a36;
    --sidebar-bg-hover: #44475a;
    --item-active: #ff79c0;
    --item-text-active: #1a1e24;
    --text-normal: #f8f8f2;
  }

  .theme-gruvbox {
    --sidebar-bg: #282828;
    --sidebar-bg-hover: #7c6f64;
    --item-active: #fe8019;
    --item-text-active: #1a1e24;
    --text-normal: #bdae93;
  }
}
